<section id="aboutUs" class="section about">
  <div class="container">

    <h2 class="about-title">Про нас</h2>
    <p class="about-txt">У нашій 'Солодкій Майстерні' ми створюємо неповторні солодкі шедеври, що приносять радість та задоволення. Наша місія — пропонувати високоякісні десерти, які поєднують у собі вишуканий смак, свіжі інгредієнти та естетичний вигляд.</p>

     <div class="swiper aboutSwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="..." alt="Приготування десертів" />
        </div>
        <div class="swiper-slide">
          <img src="..." alt="Обговорення декору" />
        </div>
        <div class="swiper-slide">
          <img src="..." alt="Вітрина з десертами" />
        </div>
        <div class="swiper-slide">
          <img src="..." alt="Жінка частує торт" />
        </div>
      </div>

      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
