<section id="dessert" class="section">
  <div class="container">
    <h2 class="dessert-title">Солодощі</h2>
    <div class="dessert-category-box">
      <p class="dessert-descr">
        Спробуйте наші смачні десерти, які вас здивують!
      </p>
      <div class="dessert-select-wrapper">
        <select
          class="dessert-filter-select visually-hidden"
          name="dessert-select"
        ></select>

        <button type="button" class="dessert-select-trigger">
          <span class="dessert-select-title">Всі десерти</span>
          <span class="dessert-select-icon">
            <svg width="24" height="24">
              <use href="/images/icons.svg#icon-keyboard_arrow_down"></use>
            </svg>
          </span>
        </button>

        <ul class="dessert-custom-options visually-hidden"></ul>
      </div>
    </div>

    <div class="dessert-filter"></div>
    <ul class="dessert-list"></ul>
    <button class="load-more" type="button">Завантажити ще</button>
  </div>
</section>
