<section id="faq" class="faq-section">
  <div class="faq-container container">
    <div class="faq-header">
      <h2 class="faq-title">Часті питання</h2>
    </div>

    <div class="accordion-container">
      <div class="ac">
        <h3 class="ac-header">
          <button class="ac-trigger" type="button">
            <span class="faq-question">
              1. Які способи оплати ви приймаєте?
            </span>
            <svg
              class="faq-icon"
              width="32"
              height="32"
              viewBox="0 0 32 32"
              fill="none"
            >
              <path
                d="M23.1162 12.1768C23.2139 12.0792 23.3721 12.0791 23.4697 12.1768L23.8232 12.5303C23.9209 12.6279 23.9208 12.7861 23.8232 12.8838L16.1768 20.5303C16.0791 20.6279 15.9209 20.6279 15.8232 20.5303L8.17676 12.8838C8.07914 12.7861 8.07913 12.6279 8.17676 12.5303L8.53027 12.1768C8.62789 12.0791 8.78615 12.0791 8.88379 12.1768L16 19.293L23.1162 12.1768Z"
                fill="#080C0C"
                stroke="#080C0C"
              />
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p class="ac-text">
            Ми приймаємо оплату онлайн банківськими картками Visa та Mastercard,
            через платіжні системи Apple Pay та Google Pay, а також готівкою
            кур'єру при отриманні замовлення.
          </p>
        </div>
      </div>

      <div class="ac">
        <h3 class="ac-header">
          <button class="ac-trigger" type="button">
            <span class="faq-question"> 2. Чи є у вас доставка? </span>
            <svg
              class="faq-icon"
              width="32"
              height="32"
              viewBox="0 0 32 32"
              fill="none"
            >
              <path
                d="M23.1162 12.1768C23.2139 12.0792 23.3721 12.0791 23.4697 12.1768L23.8232 12.5303C23.9209 12.6279 23.9208 12.7861 23.8232 12.8838L16.1768 20.5303C16.0791 20.6279 15.9209 20.6279 15.8232 20.5303L8.17676 12.8838C8.07914 12.7861 8.07913 12.6279 8.17676 12.5303L8.53027 12.1768C8.62789 12.0791 8.78615 12.0791 8.88379 12.1768L16 19.293L23.1162 12.1768Z"
                fill="#080C0C"
                stroke="#080C0C"
              />
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p class="ac-text">
            Так, ми здійснюємо доставку по всьому місту. Вартість та умови
            доставки залежать від вашого району, деталі можна уточнити при
            оформленні замовлення.
          </p>
        </div>
      </div>

      <div class="ac">
        <h3 class="ac-header">
          <button class="ac-trigger" type="button">
            <span class="faq-question">
              3. Як швидко здійснюється доставка?
            </span>
            <svg
              class="faq-icon"
              width="32"
              height="32"
              viewBox="0 0 32 32"
              fill="none"
            >
              <path
                d="M23.1162 12.1768C23.2139 12.0792 23.3721 12.0791 23.4697 12.1768L23.8232 12.5303C23.9209 12.6279 23.9208 12.7861 23.8232 12.8838L16.1768 20.5303C16.0791 20.6279 15.9209 20.6279 15.8232 20.5303L8.17676 12.8838C8.07914 12.7861 8.07913 12.6279 8.17676 12.5303L8.53027 12.1768C8.62789 12.0791 8.78615 12.0791 8.88379 12.1768L16 19.293L23.1162 12.1768Z"
                fill="#080C0C"
                stroke="#080C0C"
              />
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p class="ac-text">
            Зазвичай доставка займає від 60 до 90 хвилин з моменту підтвердження
            замовлення. У пікові години час доставки може бути збільшений, про
            що ми вас обов'язково повідомимо.
          </p>
        </div>
      </div>

      <div class="ac">
        <h3 class="ac-header">
          <button class="ac-trigger" type="button">
            <span class="faq-question">
              4. Чи можна забрати замовлення самостійно?
            </span>
            <svg
              class="faq-icon"
              width="32"
              height="32"
              viewBox="0 0 32 32"
              fill="none"
            >
              <path
                d="M23.1162 12.1768C23.2139 12.0792 23.3721 12.0791 23.4697 12.1768L23.8232 12.5303C23.9209 12.6279 23.9208 12.7861 23.8232 12.8838L16.1768 20.5303C16.0791 20.6279 15.9209 20.6279 15.8232 20.5303L8.17676 12.8838C8.07914 12.7861 8.07913 12.6279 8.17676 12.5303L8.53027 12.1768C8.62789 12.0791 8.78615 12.0791 8.88379 12.1768L16 19.293L23.1162 12.1768Z"
                fill="#080C0C"
                stroke="#080C0C"
              />
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p class="ac-text">
            Так, ви можете забрати своє замовлення самостійно за адресою
            [Вказати адресу самовивозу] у робочі години магазину.
          </p>
        </div>
      </div>

      <div class="ac">
        <h3 class="ac-header">
          <button class="ac-trigger" type="button">
            <span class="faq-question">
              5. Чи пропонуєте ви десерти для людей з особливими дієтичними
              потребами (безглютенові, безлактозні, веганські)?
            </span>
            <svg
              class="faq-icon"
              width="32"
              height="32"
              viewBox="0 0 32 32"
              fill="none"
            >
              <path
                d="M23.1162 12.1768C23.2139 12.0792 23.3721 12.0791 23.4697 12.1768L23.8232 12.5303C23.9209 12.6279 23.9208 12.7861 23.8232 12.8838L16.1768 20.5303C16.0791 20.6279 15.9209 20.6279 15.8232 20.5303L8.17676 12.8838C8.07914 12.7861 8.07913 12.6279 8.17676 12.5303L8.53027 12.1768C8.62789 12.0791 8.78615 12.0791 8.88379 12.1768L16 19.293L23.1162 12.1768Z"
                fill="#080C0C"
                stroke="#080C0C"
              />
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p class="ac-text">
            Ми постійно розширюємо наш асортимент. Наразі у нас є обмежений
            вибір безглютенових та безлактозних десертів. Будь ласка,
            перегляньте наш каталог або зв'яжіться з нами для отримання
            детальної інформації.
          </p>
        </div>
      </div>

      <div class="ac">
        <h3 class="ac-header">
          <button class="ac-trigger" type="button">
            <span class="faq-question">
              6. Як я можу зробити замовлення на індивідуальний торт?
            </span>
            <svg
              class="faq-icon"
              width="32"
              height="32"
              viewBox="0 0 32 32"
              fill="none"
            >
              <path
                d="M23.1162 12.1768C23.2139 12.0792 23.3721 12.0791 23.4697 12.1768L23.8232 12.5303C23.9209 12.6279 23.9208 12.7861 23.8232 12.8838L16.1768 20.5303C16.0791 20.6279 15.9209 20.6279 15.8232 20.5303L8.17676 12.8838C8.07914 12.7861 8.07913 12.6279 8.17676 12.5303L8.53027 12.1768C8.62789 12.0791 8.78615 12.0791 8.88379 12.1768L16 19.293L23.1162 12.1768Z"
                fill="#080C0C"
                stroke="#080C0C"
              />
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p class="ac-text">
            Для замовлення індивідуального торта, будь ласка, зв'яжіться з нашим
            менеджером за телефоном [Вказати номер телефону] або залиште заявку
            на сайті. Ми обговоримо всі деталі дизайну, начинки та терміни
            виконання.
          </p>
        </div>
      </div>

      <div class="ac">
        <h3 class="ac-header">
          <button class="ac-trigger" type="button">
            <span class="faq-question">
              7. Чи можна змінити або скасувати замовлення після його
              оформлення?
            </span>
            <svg
              class="faq-icon"
              width="32"
              height="32"
              viewBox="0 0 32 32"
              fill="none"
            >
              <path
                d="M23.1162 12.1768C23.2139 12.0792 23.3721 12.0791 23.4697 12.1768L23.8232 12.5303C23.9209 12.6279 23.9208 12.7861 23.8232 12.8838L16.1768 20.5303C16.0791 20.6279 15.9209 20.6279 15.8232 20.5303L8.17676 12.8838C8.07914 12.7861 8.07913 12.6279 8.17676 12.5303L8.53027 12.1768C8.62789 12.0791 8.78615 12.0791 8.88379 12.1768L16 19.293L23.1162 12.1768Z"
                fill="#080C0C"
                stroke="#080C0C"
              />
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p class="ac-text">
            Якщо вам потрібно змінити або скасувати замовлення, будь ласка,
            негайно зв'яжіться з нами за телефоном. Можливість внесення змін
            залежить від етапу, на якому знаходиться ваше замовлення.
          </p>
        </div>
      </div>

      <div class="ac">
        <h3 class="ac-header">
          <button class="ac-trigger" type="button">
            <span class="faq-question">
              8. Який термін зберігання ваших десертів?
            </span>
            <svg
              class="faq-icon"
              width="32"
              height="32"
              viewBox="0 0 32 32"
              fill="none"
            >
              <path
                d="M23.1162 12.1768C23.2139 12.0792 23.3721 12.0791 23.4697 12.1768L23.8232 12.5303C23.9209 12.6279 23.9208 12.7861 23.8232 12.8838L16.1768 20.5303C16.0791 20.6279 15.9209 20.6279 15.8232 20.5303L8.17676 12.8838C8.07914 12.7861 8.07913 12.6279 8.17676 12.5303L8.53027 12.1768C8.62789 12.0791 8.78615 12.0791 8.88379 12.1768L16 19.293L23.1162 12.1768Z"
                fill="#080C0C"
                stroke="#080C0C"
              />
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p class="ac-text">
            Термін зберігання десертів залежить від їхнього типу та
            інгредієнтів. Зазвичай десерти рекомендується вживати протягом 24-72
            годин. Точна інформація про термін зберігання вказана на упаковці
            кожного виробу.
          </p>
        </div>
      </div>

      <div class="ac">
        <h3 class="ac-header">
          <button class="ac-trigger" type="button">
            <span class="faq-question">
              9. Чи є у вас програма лояльності або знижки для постійних
              клієнтів?
            </span>
            <svg
              class="faq-icon"
              width="32"
              height="32"
              viewBox="0 0 32 32"
              fill="none"
            >
              <path
                d="M23.1162 12.1768C23.2139 12.0792 23.3721 12.0791 23.4697 12.1768L23.8232 12.5303C23.9209 12.6279 23.9208 12.7861 23.8232 12.8838L16.1768 20.5303C16.0791 20.6279 15.9209 20.6279 15.8232 20.5303L8.17676 12.8838C8.07914 12.7861 8.07913 12.6279 8.17676 12.5303L8.53027 12.1768C8.62789 12.0791 8.78615 12.0791 8.88379 12.1768L16 19.293L23.1162 12.1768Z"
                fill="#080C0C"
                stroke="#080C0C"
              />
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p class="ac-text">
            Так, ми цінуємо наших постійних клієнтів! Деталі нашої програми
            лояльності та діючих акцій ви можете знайти на окремій сторінці
            нашого сайту або уточнити у менеджера.
          </p>
        </div>
      </div>

      <div class="ac">
        <h3 class="ac-header">
          <button class="ac-trigger" type="button">
            <span class="faq-question">
              10. Що робити, якщо у мене є скарга або пропозиція?
            </span>
            <svg
              class="faq-icon"
              width="32"
              height="32"
              viewBox="0 0 32 32"
              fill="none"
            >
              <path
                d="M23.1162 12.1768C23.2139 12.0792 23.3721 12.0791 23.4697 12.1768L23.8232 12.5303C23.9209 12.6279 23.9208 12.7861 23.8232 12.8838L16.1768 20.5303C16.0791 20.6279 15.9209 20.6279 15.8232 20.5303L8.17676 12.8838C8.07914 12.7861 8.07913 12.6279 8.17676 12.5303L8.53027 12.1768C8.62789 12.0791 8.78615 12.0791 8.88379 12.1768L16 19.293L23.1162 12.1768Z"
                fill="#080C0C"
                stroke="#080C0C"
              />
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p class="ac-text">
            Ми завжди раді зворотному зв'язку! Якщо у вас виникли питання,
            скарги або пропозиції, будь ласка, напишіть нам на електронну пошту
            [Вказати email] або зателефонуйте. Ваша думка допомагає нам ставати
            кращими.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
