<section id="feedback" class="section">
  <div class="container">
    <h2 class="feedback-title">Відгуки Клієнтів</h2>
    <p class="feedback-subtitle">
      Найкращі десерти, які я коли-небудь куштував!
    </p>
    <div class="feedback-slider-wrap">
      <button class="feedback-nav-btn prev" id="feedback-prev">
        <span class="heavy-left-arrow">&#10140;</span>
      </button>

      <div class="swiper feedback-swiper" id="swiper-container">
        <div class="swiper-wrapper" id="feedbacks-wrapper"></div>
      </div>

      <button class="feedback-nav-btn next" id="feedback-next">&#10140;</button>
      <div class="swiper-pagination" id="feedback-pagination"></div>
    </div>
  </div>
</section>
