<footer class="footer">
  <div class="footer__content container">
    <a href="/" class="footer__logo">
      <svg class="footer__logo-icon" width="150" height="64">
        <use href="../public/icons/sprite.svg#icon-company_logo"></use>
      </svg>
    </a>

    <nav class="footer__nav">
      <a href="#products">Солодощі</a>
      <a href="#about">Про нас</a>
      <a href="#reviews">Відгуки</a>
      <a href="#faq">Часті питання</a>
    </nav>

    <ul class="footer__socials">
      <li>
        <a
          href="https://www.facebook.com/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Facebook"
        >
          <svg class="footer__icon" width="24" height="24">
            <use href="../public/icons/sprite.svg#icon-Facebook"></use>
          </svg>
        </a>
      </li>

      <li>
        <a
          href="https://www.instagram.com/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Instagram"
        >
          <svg class="footer__icon" width="24" height="24">
            <use href="../public/icons/sprite.svg#icon-Instagram"></use>
          </svg>
        </a>
      </li>

      <li>
        <a
          href="https://www.youtube.com/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="YouTube"
        >
          <svg class="footer__icon" width="24" height="24">
            <use href="../public/icons/sprite.svg#icon-Youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>

  <div class="footer__bottom">
    <p>© 2025 Солодка Майстерня. Усі права захищені.</p>
  </div>
</footer>
