<div class="mobile-menu" id="mobileMenu">
  <div class="container mobile-menu-inner">
    <div class="mobile-menu-top">
      <a href="#header" class="logo" data-scroll-top>
        <svg class="header-logo">
          <use href="/images/icons.svg#icon-logo"></use>
        </svg>
      </a>

      <button
        type="button"
        class="mobile-menu-close"
        id="mobileMenuClose"
        aria-label="Закрити меню"
      >
        <svg class="mobile-menu-close-icon">
          <use href="/images/icons.svg#icon-close"></use>
        </svg>
      </button>
    </div>

    <ul class="mobile-menu-list">
      <li class="mobile-menu-item"><a class="link" href="#header">Солодощі</a></li>
      <li class="mobile-menu-item"><a class="link" href="#aboutUs">Про нас</a></li>
      <li class="mobile-menu-item"><a class="link" href="#feedback">Відгуки</a></li>
      <li class="mobile-menu-item"><a class="link" href="#faq">Часті питання</a></li>
    </ul>

    <a class="link button to-orders mobile-menu-cta" href="#dessert"
      >До покупок</a
    >
  </div>
</div>
