<div class="backdrop">
  <div class="modal">
    <button class="modal-btn" type="button" aria-label="Закрити модальне вікно">
      <svg class="modal-btn-icon" width="16" height="16">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>

    <h2 class="modal-slogan">Оформлення замовлення</h2>

    <form class="order-form" novalidate>
      <div class="order-wrapper">
        <label class="order-label" for="user-name">Ім'я*</label>
        <input
          class="order-input"
          type="text"
          id="user-name"
          name="name"
          placeholder="Введіть ім'я"
        />
        <span class="error-text">Error Text</span>
      </div>

      <div class="order-wrapper">
        <label class="order-label" for="user-phone">Телефон*</label>
        <input
          class="order-input"
          type="tel"
          id="user-phone"
          name="phone"
          placeholder="38 0__ _______"
        />
        <span class="error-text">Error Text</span>
      </div>

      <div class="order-wrapper">
        <label class="order-label" for="user-comment">Коментар*</label>
        <textarea
          class="order-comment"
          id="user-comment"
          name="comment"
          placeholder="Ваш коментар"
        ></textarea>
        <span class="error-text">Error Text</span>
      </div>

      <button class="order-form-btn" type="submit">Надіслати заявку</button>
    </form>
  </div>
</div>
