.footer {
    background-color: #98e9e8;
    padding: 48px 20px;
}

.footer__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__logo {
    display: block;
    margin-bottom: 32px;
}

.footer__logo-icon {
    display: block;
    width: 335px;
    height: auto;
}

.footer__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-bottom: 32px;
}

.footer__nav a {
    font-family: 'Work Sans', sans-serif;
    color: #080C0C;
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;

    transition: opacity 200ms ease;
}

.footer__nav a:hover,
.footer__nav a:focus-visible {
    text-decoration: underline;
    text-underline-offset: 3px;
}

.footer__nav a:active {
    color: #F19898;
    text-decoration: underline;
    text-underline-offset: 3px;
}

.footer__nav a[aria-disabled="true"] {
    color: #a6a6a6;
    pointer-events: none;
}

.footer__icon {
    width: 32px;
    height: 32px;
    fill: #000;
    color: #000;
}


.footer__socials {
    display: flex;
    align-items: center;
    gap: 24px;

    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 40px;
}

.footer__icon {
    fill: #000;
    transition: fill 250ms ease;
}



.footer__bottom {
    border-top: 2px solid #080C0C;
    padding-top: 36px;
    padding-bottom: 8px;
    text-align: center;
}

.footer__bottom p {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    margin: 0;
}

@media screen and (min-width: 768px) {
    .footer {
        padding: 48px 32px 28px;
    }

    .footer__logo {
        margin-bottom: 36px;
    }

    .footer__logo-icon {
        width: 308px;
    }


    .footer__nav {
        flex-direction: row;
        gap: 32px;
        margin-bottom: 32px;
    }

    .footer__nav a {
     font-size: 18px;
     font-weight: 600;
     }

    .footer__icon {
     width: 32px;
     height: 32px;
     }

    .footer__socials {
      gap: 20px;
    }

}

@media screen and (min-width: 1440px) {
    .footer {
        padding: 64px 40px;
    }

    .footer__content {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .footer__logo {
        margin-bottom: 0;
    }

    .footer__nav {
        flex-direction: row;
        gap: 32px;
        margin-bottom: 0;
        transform: translateX(-100px);
    }

    .footer__nav a {
        font-size: 14px;
    }

    .footer__socials {
        gap: 12px;
    }

    .footer__bottom {
        margin-top: 40px;
    }
}
