.footer {
    background-color: #98e9e8;
    padding: 32px 16px 24px;
}

.footer__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__logo {
    display: block;
    margin-bottom: 28px;
}

.footer__logo img {
    display: block;
    width: 150px;
    height: auto;
}

.footer__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    
    margin-bottom: 28px;
}

.footer__nav a {
    color: #080C0C;
    text-decoration: none;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;

    transition: opacity 200ms ease;
}

.footer__nav a:hover,
.footer__nav a:focus-visible {
    text-decoration: underline;
    text-underline-offset: 3px;
}

.footer__nav a:active {
    color: #F19898;
    text-decoration: underline;
    text-underline-offset: 3px;
}

.footer__nav a[aria-disabled="true"] {
    color: #a6a6a6;
    pointer-events: none;
}

.footer__icon {
    width: 24px;
    height: 24px;
    fill: #000;
    color: #000;
}

.footer__logo-icon {
    display: block;
    width: 210px;
    height: auto;
}

.footer__socials {
    display: flex;
    align-items: center;
    gap: 20px;

    margin: 0;
    padding: 0;
    list-style: none;
}

.footer__icon {
    fill: #000;
    transition: fill 250ms ease;
}

.footer__socials a:hover .footer__icon,
.footer__socials a:focus-visible .footer__icon {
    fill: #F19898;
}


.footer__bottom {
    margin-top: 28px;
    border-top: 2px solid #080C0C;
    padding-top: 32px;
    text-align: center;
}

.footer__bottom p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    margin: 0;
}

@media screen and (min-width: 768px) {
    .footer {
        padding: 40px 32px 28px;
    }

    .footer__logo {
        margin-bottom: 28px;
    }

    .footer__nav {
        flex-direction: row;
        gap: 32px;
        margin-bottom: 28px;
    }

    .footer__bottom {
        margin-top: 32px;
    }
}

@media screen and (min-width: 1440px) {
    .footer {
        padding: 72px 64px 40px;
    }

    .footer__content {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .footer__logo {
        margin-bottom: 0;
    }

    .footer__nav {
        flex-direction: row;
        gap: 44px;
        margin-bottom: 0;
    }

    .footer__socials {
        gap: 20px;
    }

    .footer__bottom {
        margin-top: 64px;
        padding-top: 32px;
    }
}
