.header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #080c0c;
}

.header-logo {
  width: 146px;
  height: 30px;
  padding: 17px 0;
}

.mob-header a {
  line-height: 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo, .header-mobile-menu-icon {
  fill: currentColor;
}

.header-nav-list {
  display: flex;
  gap: 24px;
  padding-block: 24px;
}

.hidden {
  display: none;
}

@media screen and (min-width: 768px) {

  .logo-nav-wrapper {
    display: flex;
    align-items: center;
    gap: 49px;
  }

  .header-mobile-menu {
    display: none;
  }

  .header-order {
    display: inline-block;
    padding: 6px 19px;
  }

  .header-nav {
    display: block;
  }
}

/* Styles for Desktop devices */
@media screen and (min-width: 1440px) {
  .logo-nav-wrapper {
    gap: 32px;
  }

  .header-order {
    padding: 6px 55px;
  }
}